* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    background-color: #1A0B2E;
}

/* Sheared style */

.primary-btn {
    background: linear-gradient(to bottom left, #F7E93F, #FB09B4, #9100F8);
    padding: 0.75rem 1rem;
    color: white;
    border: none;
    border-radius: 8rem;
    cursor: pointer;
}

hr {
    background-color: #FFFFFF;
}

/* navbar styles */

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.875rem 12.5rem;
    align-items: center;
}

.navbar h1 {
    color: white;
}

.navbar ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navbar li {
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

.navbar .hamburger-menu {
    display: none;
    width: 24px;
    height: 24px;
}

/* hero-banner style */

.hero-banner .hero-img {
    position: relative;
    width: 100%;
    height: 60vh;
    color: white;
    text-align: center;
}

.hero-img .hero-bg {
    width: 100%;
    height: 100%;
}

.hero-img .hero-circle {
    position: absolute;
    width: 30%;
    max-width: 340px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-img .microphone {
    position: absolute;
    width: 10%;
    max-width: 150px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-img .badge {
    position: absolute;
    width: 10%;
    max-width: 3rem;
    font-size: 1rem;
    font-weight: 600;
    top: 5%;
    left: 55%;
    color: black;
    border: none;
    border-radius: 8rem;
    background-color: #00FF88;
}

.hero-content {
    color: white;
    text-align: center;
}

.hero-content h1 {
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.25rem;
}

.hero-content {
    gap: 0.5rem;
    margin-top: 1.5rem;
}

.hero-content .hero-btn {
    margin-top: 1.5rem;
}

.hero-btn .message-btn {
    padding: 0.75rem 1.25rem;
    color: #00FF88;
    background-color: transparent;
    border: 1px solid #00FF88;
    border-radius: 8rem;
    cursor: pointer;
}

.message-btn img {
    gap: 0.5px;
    vertical-align: center;
}

/* about section style */

.about-content {
    width: 52%;
    max-width: 75rem;
    margin: 0 auto;
    margin-top: 3.125rem;
    color: white;
    text-align: center;
}

.about-content h1 {
    margin-bottom: 1rem;
}

.about-content p {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 5rem;
}

.about {
    max-width: 1600;
    padding-top: 3.125rem;
}

.achievements {
    color: #00FF88;
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    margin-bottom: 7.5rem;
}

.choose {
    margin: 0 auto;
    color: white;
    padding: 7.5rem;
    background-color: #230E3D;
}

.choose .choose-title {
    text-align: center;
    margin-bottom: 2.5rem;
}

.choose .choose-container {
    display: grid;
    gap: 1.875rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.choose-container .box {
    padding: 2.5rem;
    background-color: #351165;
    border-radius: 2.5rem;
    /* align-items: middle; */
}

.box .title {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box p {
    font-size: 1rem;
    font-weight: 400;

}

.column-layout {
    grid-column: span 1;
    grid-row: span 2;
}

/* .column-layout img {
    margin-top: 6rem;
} */

.normal-layout {
    grid-column: span 2;
}

.special img {
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}

.episodes-section {
    margin: 0 auto;
    padding-top: 7.5rem;
    color: white;
}

.episodes-section h1 {
    text-align: center;
    margin-bottom: 2.5rem;
}

.episodes-section .episode-container {
    display: flex;
    justify-content: space-evenly;
    gap: 1.875rem;
    flex-wrap: wrap;
    margin-bottom: 7.5rem;
}

.episode-container .episode {
    width: 380px;
}

.episode h2 {
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
}

.episode .description {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.75rem;
}

.episode .time-para {
    color: #00FF88;
    font-size: 1rem;
    font-weight: 600;
}

.host-section {
    color: white;
}

.host-section h1 {
    text-align: center;
    margin-bottom: 7.5rem;
}

.host-section .host-info {
    width: 75rem;
    height: auto;
    margin: 0 auto;
    display: flex;
    gap: 1.5rem;
    border-radius: 1.5rem;
    background-color: #351165;
}

.host-info .host-photo {
    margin-top: 2.5rem;
    margin-left: 2.5rem;
}

.host-description h2 {
    margin-top: 3.03rem;
    margin-bottom: 2rem;
}

.host-description p {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.host-description ul {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

.host-description li {
    list-style: none;
    align-items: center;
}

.host-description img {
    border: 2px solid #533C72;
    border-radius: 30%;
}

.footer-section {
    color: white;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 7.5rem;
    text-align: center;
}

.footer-section .footer-img {
    width: 100%;
    height: 25.5rem;
}

.footer-section h1 {
    font-size: 5rem;
    transform: translate(0%, -350%);
}

.footer-section ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
    transform: translate(0%, -1200%);
}

.footer-section li {
    list-style: none;
}

.footer-section img {
    vertical-align: center;
}

.footer-section p {
    transform: translate(0%, -1200%);
}

/* For small device */

@media screen and (max-width:576px) {
    .navbar {
        padding: 1.25rem;
    }

    .navbar ul,
    .navbar .primary-btn {
        display: none;
    }

    .navbar .hamburger-menu {
        display: block;
    }

    .hero-banner .hero-img {
        position: relative;
        width: 100%;
        height: 40vh;
        color: white;
        text-align: center;
    }

    .hero-img .hero-circle {
        width: 40%;
        max-width: 520px;
        top: 37%;
    }

    .hero-img .microphone {
        width: 12%;
        max-width: 100px;
        top: 37%;
    }

    .hero-img .badge {
        width: 10%;
        max-width: 3rem;
        top: 5%;
        left: 55%;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-content p {
        width: 90%;
        max-width: 25rem;
        align-items: center;
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 1.25rem;
    }

    .achievements {
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5rem;
    }

    .choose .choose-container {
        display: grid;
        gap: 1.875rem;
        grid-template-columns: repeat(1, 1fr);
    }

    .box .title {
        font-size: 1.5rem;
    }

    .host-section .host-info {
        width: 25rem;
        flex-direction: column;
        text-align: center;
    }

    .host-description h2 {
        margin-top: 0rem;
    }

    .host-description p {
        margin-top: 1.5rem;
        padding: 1.5rem;
        padding-top: 0.5rem;
    }

    .host-description ul {
        justify-content: center;
        margin-bottom: 1.5rem;
    }

    /* .footer-section{
        height: 15.5rem;
    } */

    .footer-section .footer-img {
        width: 100%;
        max-width: 440px;
    }

    .footer-section h1 {
        font-size: 2.5rem;
        transform: translate(0%, -550%);
    }

    .footer-section ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        transform: translate(30%, -350%);
        font-size: 0.9rem;
        width: 300px;
        font-size: 0.8rem;
    }

    .footer-section li{
        gap: 1rem;
    }

    .footer-section img {
        width: 10%;
        max-width: 440px;
    }

    .footer-section p{
        font-size: 0.8rem;
        transform: translate(0%, -800%);
        padding-bottom: 0.05rem;
    }
}

/* For medium device */

@media screen and (min-width:576px) and (max-width:997px) {
    .navbar {
        padding: 1.25rem;
    }

    .hero-img .hero-circle {
        width: 23%;
        max-width: 240px;
        top: 40%;
    }

    .hero-img .microphone {
        width: 10%;
        max-width: 120px;
        top: 40%;
    }

    .hero-img .badge {
        width: 10%;
        max-width: 3rem;
        top: 22%;
        left: 53%;
    }

    .choose .choose-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .host-section .host-info {
        width: 25rem;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        border: 2px solid red;
    }

    .host-info .host-photo{
        width: 52%;
        margin: 0 auto;
        margin-top: 1.52rem;
    }

    .host-description h2 {
        margin-top: 0rem;
    }

    .host-description p {
        margin-top: 1.5rem;
        padding: 1.5rem;
        padding-top: 0.5rem;
    }

    .host-description ul {
        justify-content: center;
        margin-bottom: 1.5rem;
    }
}